<h1>New User - Sign Up!</h1>

<%= form_for @user, user_path do |f| %>
	<%= f.text_field :name "Enter Name"%>
	<%= f.text_field :email "Enter Email"%>
	<%= f.password_field :password "Enter Password"%>
	<%= f.submit "Submit" %>
<% end %>