<h1>New User - Sign Up!</h1>

<%= form_for @user do |f| %>
	<%= f.label :name, "Enter Name" %>
	<%= f.text_field :name %>

	<%= f.label :email, "Enter Email" %>
	<%= f.text_field :email %>

	<%= f.label :password, "Enter Password" %>
	<%= f.password_field :password %>

	<%= f.label :admin, "Administrator?" %>
	<%= f.check_box :admin %>

	<%= f.submit "Create User"%>
<% end %>