<h1>Hello, <%= @user.name %>!</h1>

<% if @user.admin %>
	<%= link_to 'Restaurant Stats', restaurants_path %>
	<%= link_to 'Users Stats', users_path %>


<% else %>
	<h2>The place you should eat is...</h2>

	<h1><%= @message %></h1>
<% end %>

<%= link_to 'See Restaurants', restaurants_path %>
<%= link_to 'Log Out', user_path, method: "delete" %>